---
import Nav from "./Nav.astro";
---

<header>
  <h1>LOGO</h1>
  <Nav />
  <a href="/">CTA</a>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 0.5rem 1rem;
    border-bottom: 2px solid rgba(240, 248, 255, 0.903);
  }

  h1 {
    margin: 0;
  }
  h1:hover {
    cursor: pointer;
  }
  a {
    font-family:
      Indie Flower,
      cursive;
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: rgba(240, 248, 255, 0.903);
    font-size: 20px;
    border: 2px solid rgba(240, 248, 255, 0.903);
    border-radius: 10px;
  }

  a:hover {
    background-color: rgba(240, 248, 255, 0.903);
    color: #111111;
    border: 2px solid rgba(240, 248, 255, 0.903);
  }

  @media screen and (max-width: 768px) {
    header {
        align-items: center;
    }
    a {
      font-size: 12px;
      padding: 0.5rem 1.2rem;
    }
  }
</style>
