---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/permanent-marker";
import "@fontsource/indie-flower";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    background-color: #111111;
    opacity: 0.9;
    color: rgba(240, 248, 255, 0.903);
    margin: 0, auto;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "Permanent Marker", cursive;
  }
  h5,
  h6,
  p {
    font-family: "Indie Flower", cursive;
    font-size: larger;
  }

</style>
